<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img id="logo"src="assets/img/ibdm-logo-couleur.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-around">
        <div class="team flex-grow-1">
          <p>Team : Polarisation et décisions binaires au sein du système nerveux</p>
        </div>
        <div class="user">
          Hi, Pierre
        </div>
        <div class="logout">
          <button type="button" class="btn btn-outline-danger">Log out</button>
        </div>
      </div>

    <ul class="navbar-nav">

      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Team : Polarisation et décisions binaires au sein du système nerveux<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li> -->
    </ul>
  </div>
</nav>
