<div class="container">
	<h1 *ngIf="!isViewable" class="well">Add a new aliquot</h1>
	<h1 *ngIf="isViewable">Transfert aliquot</h1>
	<div class="col-sm-12 form-group">
		<div class="custom-control custom-switch">
			<input type="checkbox" id="reserveInput" class="custom-control-input" (click)="toggle()"
				id="customSwitches">
			<label class="custom-control-label" for="customSwitches">transfert</label>
		</div>
	</div>

	<form *ngIf="!isViewable" #aliquoteForm="ngForm">
		<div class="col-sm-12 form-group">
			<div id="numLot-container" class="form-group">
				<label>N°Lot</label>
				<input type="text" class="form-control" id="name" ngModel pattern="[0-9]*" required
					placeholder="Enter N°Lot Here.." [(ngModel)]="model.Nlot" name="name" #Nlot="ngModel">
				<div [hidden]="Nlot.valid || Nlot.pristine" class="alert alert-danger">
					N°Lot is required (positive number)
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div id="price-container" class="col-sm-6 form-group">
					<label>Price*</label>
					<input type="text" id="price" [(ngModel)]="model.price"
						pattern="^[0-9]+(\.[0-9]{1,4})?$" required placeholder="Enter Price Here.."
						class="form-control" ngModel name="price" #price="ngModel">
					<div [hidden]="price.valid || price.pristine" class="alert alert-danger">
						Price is required (positive number)
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<label>Provider*</label>
					<input type="text" id="provider" required placeholder="Enter Provider Here.."
						class="form-control" [(ngModel)]="model.provider" name="provider"
						#provider="ngModel">
					<div [hidden]="provider.valid || provider.pristine" class="alert alert-danger">
						Provider is required (positive number)
					</div>
				</div>
			</div>
			<div class="row">
				<div id="visibleQty-container" class="col-sm-6 form-group">
					<label>Quantity in visible stock</label>
					<input type="text" class="form-control" id="visibleQty" [(ngModel)]="model.visibleQty"
						pattern="[0-9]*" placeholder="Enter Quantity in visible stock  Here.."
						name="visibleQty" #visibleQty="ngModel">
					<div [hidden]="visibleQty.valid || visibleQty.pristine" class="alert alert-danger">
						Quantity is a positive number
					</div>
				</div>
				<div id="reserveQty-container" class="col-sm-6 form-group">
					<label>Quantity in hidden stock</label>
					<input type="text" class="form-control" id="reserveQty" [(ngModel)]="model.reserveQty"
						pattern="[0-9]*" placeholder="Enter Quantity in hidden stock Here.."
						name="reserveQty" #reserveQty="ngModel">
					<div [hidden]="reserveQty.valid || reserveQty.pristine" class="alert alert-danger">
						Quantity is a positive number
					</div>
				</div>
			</div>
			<div class="row">
				<div id="product-container" class="col-sm-12 form-group">
					<label for="myListOptions">Produit*</label>
					<select id="product" class="form-control" [(ngModel)]="model.product" name="product"
						#product="ngModel">
						<option required [ngValue]="item" *ngFor="let item of data" [ngValue]="item">{{item}}
						</option>
						<div [hidden]="product.valid || product.pristine" class="alert alert-danger">
							product is required
						</div>
					</select>
				</div>
			</div>
			<div class="form-group button-container">
				<button (click)="addAliquote()" class="btn btn-outlined-custom" type="button"
					[disabled]="!aliquoteForm.form.valid">Add Aliquote</button>
			</div>
		</div>
	</form>
	<form *ngIf="isViewable" #transfertForm>
		<div class="col-md-12">
			<div class="row">
				<div id="product-container" class="col-md-4 form-group">
					<label for="from">From</label>
					<select id="from" class="form-control" name="from">
						<option>Reserve</option>
						<option>Stock</option>
					</select>
				</div>
				<div id="product-container" class="col-md-4 form-group">
					<label for="to">To</label>
					<select id="to" class="form-control" name="from">
						<option>Stock</option>
						<option>Reserve</option>
					</select>
				</div>
				<div id="product-container" class="col-md-4 form-group">
					<label for="qteTransfert">Quantity</label>
					<input id="qteTransfert" type="number" required placeholder="Quantity" class="form-control" name="qteTransfert" #qteTransfert="ngModel" pattern="[0-9]*" [(ngModel)]="modelTransfert.qte">
				</div>
			</div>
		</div>
	</form>
	<ngb-alert *ngIf="messageAlert" [(type)]="typeAlert" (close)="messageAlert = null">{{messageAlert}}</ngb-alert>
</div>
