<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>
	<div class="container">
		<h1 class="well">Add Aliquote</h1>
		<div class="col-lg-12 well">
			<div class="row">
				<form>
					<div class="col-sm-12 form-group">
						<!-- Default switch -->
						<div class="custom-control custom-switch">
							<input type="checkbox" id="reserveInput" class="custom-control-input" id="customSwitches">
							<label class="custom-control-label" for="customSwitches">Add into reserve</label>
						</div>
					</div>
					<div class="col-sm-12 form-group">
						<div class="form-group">
							<label>N°Lot</label>
							<input type="text" placeholder="Enter N°Lot Here.." class="form-control">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Price</label>
								<input type="text" placeholder="Enter Price Here.." class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Expiration Date</label>
								<input type="date" placeholder="Enter Last Name Here.." class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Quantity in hidden stock</label>
								<input type="text" placeholder="Enter Quantity in hidden stock Here.." class="form-control" id="reserveStock">
							</div>
							<div class="col-sm-4 form-group">
								<label>Quantity in visible stock</label>
								<input type="text" placeholder="Enter Quantity in visible stock Here.." class="form-control">
							</div>
							<div class="col-sm-4 form-group">
								<label>Provider</label>
								<input type="text" placeholder="Enter Provider Here.." class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Source</label>
								<select class="form-control">
									<option value="" *ngFor="let item of data">{{item}}</option>
								</select>
							</div>
							<div class="col-sm-6 form-group">
								<label>Target</label>
								<select class="form-control">
									<option value="" *ngFor="let item of data">{{item}}</option>
								</select>
							</div>
						</div>
						<button type="button" class="btn btn-lg btn-info">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function(){
    $("#reserveInput").click(function(){
        $("#reserveStock").toggle();
    });
});
	</script>
</body>