
/* Space out content a bit */
body {
  padding-bottom: 200px;
  padding-right: 10%;
  padding-left: 10%;
  overflow:scroll
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-valid {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}