
  <table class="table">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Name aliquot</th>
        <th>Expiration date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of aliquoList">
          <tr *ngIf="item.expire">
              <td>{{item.id}}</td>
              <td></td>
              <td>{{item.date}}</td>
              <td>
                  <button title="delete aliquot" type="button" class="btn btn-xs btn-danger" (click)="deleteAliquot(item.id)">
                      <i>Delete</i>
                  </button>
              </td>
            </tr>
            
      </ng-container>
    </tbody>
  </table>

      