<div id="admin-homepage w-100">
  <div class="row w-100 row-margin first-row">
    <div class="col-md-7 w-100">
      <app-stats-providers></app-stats-providers>
    </div>
    <div class="col-md-5 w-100">
      <div class="row w-100">
        <app-report-notification class="notif"></app-report-notification>
      </div>
      <div class="row w-100">
        <app-alerts-notification class="notif"></app-alerts-notification>
      </div>
      <div class="row w-100">
        <app-outdate-notification></app-outdate-notification>
      </div>
    </div>
  </div>
  <div class="row w-100 row-margin">
    <div class="col-md-12">
      <app-stats-products></app-stats-products>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-md-12">
      <app-stats></app-stats>
    </div>
  </div>
</div>
