<div *ngIf='user != null' id="panel" (mouseenter)="onMouseEnterPanel()" (mouseleave)="onMouseLeavePanel()">
  <div *ngIf='!user.admin'>
    <a routerLink="/stockoverview">
      <div class="panel-icon-container panel-icon-container-selected">
        <i class="fas fa-search"></i> <span style="display: none;">Stock overview</span>
      </div>
    </a>
    <a *ngIf="user.techArea" routerLink="/withdraw">
      <div class="panel-icon-container">
        <i class="fas fa-cart-arrow-down"></i> <span style="display: none;">Withdraw</span>
      </div>
    </a>
    <a href="history.html">
      <div class="panel-icon-container">
        <i class="fas fa-history"></i> <span style="display: none;">History</span>
      </div>
    </a>
    <a href="teamReport.html">
      <div class="panel-icon-container">
        <i class="fas fa-file-invoice-dollar"></i> <span style="display: none;">Reports</span>
      </div>
    </a>
  </div>
  <div *ngIf='user.admin'>
      <a routerLink="/stockoverview">
        <div class="panel-icon-container panel-icon-container-selected">
          <i class="fas fa-search"></i> <span style="display: none;">Stock overview</span>
        </div>
      </a>
      <a routerLink="/product-manager">
        <div class="panel-icon-container">
          <i class="fa fa-flask" aria-hidden="true"></i> <span style="display: none;">Product manager</span>
        </div>
      </a>
      <a *ngIf='user.techArea' routerLink="/withdraw">
        <div class="panel-icon-container">
          <i class="fas fa-cart-arrow-down"></i> <span style="display: none;">Withdraw</span>
        </div>
      </a>
      <a href="history.html">
        <div class="panel-icon-container">
          <i class="fas fa-history"></i> <span style="display: none;">History</span>
        </div>
      </a>
      <a routerLink="product-manager">
        <div class="panel-icon-container">
          <i class="fas fa-file-invoice-dollar"></i> <span style="display: none;">Reports</span>
        </div>
      </a>
      <a href="teamReport.html">
        <div class="panel-icon-container">
          <i class="fas fa-edit"></i> <span style="display: none;">Edit reports</span>
        </div>
      </a>
      <a routerLink="/alerts">
        <div class="panel-icon-container">
            <i class="fas fa-exclamation-triangle"></i> <span style="display: none;">Alerts</span>
        </div>
      </a>
      <a routerLink="/inventory">
        <div class="panel-icon-container">
            <i class="fas fa-book"></i> <span style="display: none;">Inventory</span>
        </div>
      </a>
      <a data-toggle="modal" data-target="#modalMaintenance">
        <div class="panel-icon-container">
            <i class="fas fa-power-off"></i> <span style="display: none;">Maintenance</span>
        </div>
      </a>
    </div>
</div>

