h1 {
    text-align: center;
    font-size: 18pt;
}

.alert-list-item {
   
    padding-top: 2px;
    padding-bottom: 2px;

}



.alert-list-header div {
    margin-top: 3%;
    background-color: #242939;
    color: #888f9b;
    padding-bottom: 1px;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.alert-list-header div div {
    margin-top: 0px;
}
