<div class="card">
  <div class="card-header">
    <h5>Number of withdrawals against time</h5>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <label for="from-month">from</label>
          <select (change)="onValueChange()" [(ngModel)]="beginMonth" id="from-month" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of months">{{item}}</option>
          </select>
        </div>
        <div class="col">
          <label for="from-year">year</label>
          <select (change)="onValueChange()" [(ngModel)]="beginYear" id="from-year" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of years">{{item}}</option>
          </select>
        </div>
        <div class="col">
          <label for="to-month">to</label>
          <select (change)="onValueChange()" [(ngModel)]="endMonth" id="to-month" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of months">{{item}}</option>
          </select>
        </div>
        <div class="col">
            <label for="to-year">year</label>
          <select (change)="onValueChange()" [(ngModel)]="endYear" id="to-year" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of years">{{item}}</option>
          </select>
        </div>
        <div class="col">
          <label for="team">team</label>
          <select (change)="onValueChange()" [(ngModel)]="team" id="team" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of teams">{{item}}</option>
          </select>
        </div>
        <div class="col">
          <label for="product">product</label>
          <select (change)="onValueChange()" [(ngModel)]="product" id="product" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of products">{{item}}</option>
          </select>
        </div>
      </div>
    </form>
    <div *ngIf="chartData.length > 0">
      <canvas baseChart
              [data]="chartData"
              [labels]="chartLabels"
              [chartType]="chartType"
              [colors]="chartColors"
              [options]="chartOptions"
              height="90px">

      </canvas>
    </div>
    <div class="center" *ngIf="chartData.length == 0">
      <h3>No data available</h3>
    </div>
  </div>
</div>
