<div class="history-container justify-content-center col-lg-12">
  <h1>Withdrawals history</h1>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="Begin date (yyyy-mm-dd)"
               name="begin" [(ngModel)]="beginDate" ngbDatepicker #d="ngbDatepicker"
               (onchange)="sendData()" (onclick)="print(beginDate)">
        <div class="input-group-append">
          <button (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
      <div class="input-group">
        <input class="form-control" placeholder="End date (yyyy-mm-dd)"
               name="end" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker"
               (onchange)="sendData()">
        <div class="input-group-append">
          <button (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
    </div>
  </form>

  <div *ngFor="let item of beginDate">{{ item }}</div>
  <div *ngFor="let item of endDate">{{ item }}</div>

  <pre>From: {{ beginDate | json }} </pre>
  <pre>To: {{ endDate | json }} </pre>

  <div>
    <table datatable data-paging="true" data-info="false" class="custom-table row-border hover" style="width: 100%;">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Aliquot</th>
          <th>Team</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of history">
          <td>{{item.date}}</td>
          <td>{{item.userName}}</td>
          <td>{{item.aliquotName}}</td>
          <td>{{item.teamName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
