<div class="history-container justify-content-center col-lg-12">
  <h1>Withdrawals history</h1>

  <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

  <form>
    <div class="history-form form-group">
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <input type="text" class="form_control" id="beginDate" name="begin" ngbDatepicker #d="ngbDatepicker" placeholder="Begin date" required/>
          <input type="text" class="form-control" id="endDate" name="end" ngbDatepicker #d="ngbDatepicker" placeholder="End date" required/>
        </div>
      </div>
    </div>
  </form>
  <div>
    <table datatable data-paging="true" data-info="false" class="custom-table" style="width: 100%;">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Aliquot</th>
          <th>Team</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of history">
          <td>{{item.date}}</td>
          <td>{{item.userName}}</td>
          <td>{{item.aliquotName}}</td>
          <td>{{item.teamName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
