<div id="modalMaintenance" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Maintenance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="loaded && !isMaintenanceMode">
          <p>Maintenance mode will block every call to the API, the activation require super administrator privileges.</p>
          <div class="form-group">
            <label for="superAdminPassword">Password</label>
            <input [(ngModel)]="password" type="password" id="superAdminPassword" name="superAdminPassword" class="form-control" placeholder="password">
          </div>
        </div>
        <div *ngIf="loaded && isMaintenanceMode">
          <p>Turn off the maintenance mode require super administrator privileges</p>
          <div class="form-group">
            <label for="superAdminPassword">Password</label>
            <input [(ngModel)]="password" type="password" id="superAdminPassword" name="superAdminPassword" class="form-control" placeholder="password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="sendForm()" *ngIf="loaded && !isMaintenanceMode" type="button" class="btn btn-danger" data-dismiss="modal">Turn on</button>
        <button (click)="sendForm()" *ngIf="loaded && isMaintenanceMode" type="button" class="btn btn-danger" data-dismiss="modal">Turn off</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>