<div *ngIf="loaded">
  <h1><i class="fas fa-cart-arrow-down"></i>Withdraw</h1>
  <p *ngIf="user.userTeams.length > 1" style="color: red;text-align: center;">You are linked with multiple teams, please choose a team to withdraw products</p>
  <div *ngIf="user.userTeams.length > 1" class="form-row">
    <div class="input-group mb-3 col-md-10">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
      </div>
      <input (keyup.enter)="onKeyEnter()" [(ngModel)]="barcodeNlot" type="text" class="form-control" placeholder="Barcode" >
    </div>
    <div class="input-group mb-3 col-md-2">
        <!-- <label for="inputState">State</label> -->
        <select [(ngModel)]="teamChoosed" id="inputState" class="form-control">
          <option *ngFor="let item of user.userTeams">{{item}}</option>
        </select>
    </div>
  </div>
  <div *ngIf="user.userTeams.length == 1" class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-barcode"></i></span>
    </div>
    <input (keyup.enter)="onKeyEnter()" [(ngModel)]="barcodeNlot" type="text" class="form-control" placeholder="Barcode">
  </div>
  <div *ngIf="cart.length > 0" class="cart">
    <div class="cart-header">
      <div class="cart-header-element">NLot</div><div class="cart-header-element">Nom</div><div class="cart-header-element">Quantite</div>
    </div>
    <div class="cart-body">
      <div *ngFor="let item of cart, let i = index" class="cart-element">
          <div>{{item.nlot}}</div>
          <div>{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <div class="cart-button">
            <button (click)="onMinusClicked(item.nlot)" type="button" class="btn minus"><i class="fas fa-minus"></i></button>
            <button (click)="onTimesClicked(i)" type="button" class="btn btn-danger remove"><i class="fas fa-times"></i></button>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="cart.length > 0" class="button-container">
    <button (click)="onWithdrawClicked()" type="button" class="btn btn-outlined-custom">Withdraw</button>
  </div>
</div>
